*.unselectable {
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#side_navigation_panel{ margin:10px; position:absolute; }

#side_navigation_panel .move_nav{
	position:relative;
	
	width:50px; height:50px; 
	margin:5px 5px 10px 7px; 
	background:url('images/move_view_b.png');
}

#side_navigation_panel span{ cursor:hand; cursor:pointer; }

#side_navigation_panel .move_nav span.button{ position:absolute; background-position: 0px 0px; }
#side_navigation_panel .move_nav span.up.button, #side_navigation_panel .move_nav span.down.button{ height: 9px; width: 16px; }
#side_navigation_panel .move_nav span.left.button, #side_navigation_panel .move_nav span.right.button{ width: 9px; height: 16px; }

#side_navigation_panel .move_nav span.hand{ left: 16px; top: 16px; width: 18px; height: 18px; background:url('images/hand.png'); background-repeat: no-repeat; }
#side_navigation_panel .move_nav span.hand:hover{ background-position: -18px 0px; }

#side_navigation_panel .move_nav span.up{ top: 3px; left: 17px; background:url('images/up.png');background-repeat: no-repeat; }
#side_navigation_panel .move_nav span.up:hover{ background-position: -16px 0px; }

#side_navigation_panel .move_nav span.down{ bottom: 3px; left: 17px; background:url('images/down.png');background-repeat: no-repeat; }
#side_navigation_panel .move_nav span.down:hover{ background-position: -16px 0px; }

#side_navigation_panel .move_nav span.left{ left: 3px; top: 17px; background:url('images/left.png'); background-repeat: no-repeat; }
#side_navigation_panel .move_nav span.left:hover{ background-position: -9px 0px; }

#side_navigation_panel .move_nav span.right{ right: 3px; top: 17px; background:url('images/right.png'); background-repeat: no-repeat; }
#side_navigation_panel .move_nav span.right:hover{ background-position: -9px 0px; }

#side_navigation_panel div.icon{ width:17px; margin:0px auto; }

#zoom_nav{
	height:200px; /*width: 17px; */
	margin:9px auto 9px;
}

/*#zoom_nav .ui-slider-handle{ margin-left:4px; width: 15px; }*/