body, table, th, td, tr {
	text-align: center;
	font-family: Verdana;
	text-align: center;
	color: #336699;
	font-size: 11px;
}

body h1 {
	margin-top: 48px;
	text-align: center;
	font-size: 42px;
}

.clear {clear: both;}

button { border: solid 1px #666; color:#666; margin-right:5px; }
button:hover { border: solid 1px #000; background-color: #888; color:#000; cursor:pointer; cursor: hand; }

#remove { border: solid 1px #B55D63; background-color: #EC888F; color:#B55D63; margin-left:5px; }
#remove:hover { border: solid 1px #8D1A21; background-color: #EB2B36; color:#8D1A21; cursor:pointer; cursor: hand; }

/*INDEX.html*/

.done{ color: green; }
.inprogress{ color: orange; }
.undone{ color: red; }

a { color: #666666; text-decoration: none; }
a:hover { text-decoration: underline; }

input { text-align: right; }

/*OTHER*/

/*Content and drawing surfaces*/
#surface { outline: none; border-left: 3px solid #336699; }

#content{
	margin: auto;
	width: 1280px;
	text-align: left;
}

.threeColumns {
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count: 3;
	column-gap: 20px;
	height: 540px;
}

#contentLeft { width: 31%; float: left; text-align: left; padding: 10px; }
#contentRight { width: 66%; float: left; }

/*Components*/
#vectorList, #pointList { font-size: 10px; font-style: italic; }

.floatLeft { float:left; }
.floatRight { float:right; }

.paddingLeft, .paddingLeftPoint{ padding-top: 15px; }
.paddingLeft { padding-left: 200px; }
.paddingLeftPoint{padding-left: 100px;}

.vectorItem { width: 100%; overflow: auto; margin-bottom: 5px; padding-bottom: 4px; }
.aritmeticItem { line-height: 49px; height: 49px; }
.aritmeticItem > span {
	margin-left: 5px;
	display:inline-block;
	
	font-size: 40px;
    vertical-align: middle;
}

.vecInputCol, .vecInputRow{ width: 50px; }
.vecInputCol, .vecInputRow, .vecDropDown{
	height: 23px; border: solid 1px #DDD;
	text-align: center;
}

.vecDropDown { width: 80px; margin-right: 10px; margin:0px 4px 2px 0px; }

.vecInputCol { margin:2px 0px 0px 0px; padding:0px; } /*Why firefox margin padding problems????!!!!*/
.vecInputRow { margin: 0px; padding:0px; } /*Why IE10 margin padding problems????!!!!*/
/*.vectorValue { margin: 0px 10px 0px 5px; }*/

/*POINT - VECTOR - MATRIX BRACKET*/
table, td, tr {border-collapse: collapse; border-spacing: 0px; border:0px; padding:0px; margin:0px;}
.space{padding-right:5px;}

.leftMV, .rightMV, .leftM4U, .rightM4U, .leftM4D, .rightM4D{ width: 8px; }

.leftMV{ border-top: solid 2px; border-left: solid 2px; border-bottom: solid 2px; border-color:#336699;}
.rightMV{ border-top: solid 2px; border-right: solid 2px; border-bottom: solid 2px;  border-color:#336699;}

.leftM4U{ border-top: solid 2px; border-left: solid 2px; border-color:#336699;}
.rightM4U{ border-top: solid 2px; border-right: solid 2px; border-color:#336699;}
.leftM4D{ border-bottom: solid 2px; border-left: solid 2px; border-color:#336699;}
.rightM4D{ border-bottom: solid 2px; border-right: solid 2px; border-color:#336699;}

.x, .y, .z, .N { background-color: #fff; }

#X:hover{ background-color: #c0362c; } /*RED*/
#X:hover .x{ background-color: #df9a95; color:#fff; font-weight:bold; border-color: #c0362c; }
#Y:hover{ background-color: #0c3707; } /*GREEN*/
#Y:hover .y{ background-color: #859b83; color:#fff; font-weight:bold; border-color: #0c3707; }
#Z:hover{ background-color: #165571; } /*BLUE*/
#Z:hover .z{ background-color: #2cabe2; color:#fff; font-weight:bold; border-color: #165571; }

.N2 {padding-top:2px;}
#N2 {margin-bottom:2px;}
#N1:hover, #N2:hover{ background-color: #AAA; } /*BLUE*/
#N1:hover .n, #N2:hover .n{ background-color: #CCC; color:#fff; font-weight:bold; border-color: #AAA; }

.margin3 { margin: 0px 0px 2px 0px; padding:0px }
.marginBetween { margin-right: 3px; }

/*MathJax*/

#result{ display: none; visibility: hidden; }
.scale{ font-size: 15px; }