*:focus { outline: 0; }
.clear {clear: both;}

body, table, th, td, tr {
	text-align: center;
	font-family: Verdana;
	text-align: center;
	color: #336699;
	font-size: 11px;
}

body h1 {
	margin-top: 48px;
	text-align: center;
	font-size: 42px;
}


button { border: solid 1px #666; color:#666; margin-right:5px; }
button:hover { border: solid 1px #000; background-color: #888; color:#000; cursor:pointer; cursor: hand; }

#remove { border: solid 1px #B55D63; background-color: #EC888F; color:#B55D63; margin-left:5px; }
#remove:hover { border: solid 1px #8D1A21; background-color: #EB2B36; color:#8D1A21; cursor:pointer; cursor: hand; }

/*INDEX.html*/

.done{ color: green; }
.inprogress{ color: orange; }
.undone{ color: red; }

a { color: #666666; text-decoration: none; }
a:hover { text-decoration: underline; }

input { text-align: right; }

/*OTHER*/

/*Content and drawing surfaces*/
#surface { /*border-left: 3px solid #336699;*/ width:800px; height:600px; /*cursor: url(./navigation/images/hand.cur), auto;*/ }

#content, #columns{ width: 85%; margin: auto; text-align: left; }
#content { 
	width: 1280px;
	overflow: hidden;
	padding-top: 10px;
}

.col-group > div .sub_title { text-align: center; font-size: 20px; color: #000000; }
.col-group > div>div{ 
	margin: 0px 20px 20px 20px;
	background-color: #fafafa;
	border: 1px solid #DDD;
}
.col-group > div>div>div{ padding: 5px 20px 20px 20px; }

@media screen and (min-width: 60em) {
	.col-group { overflow: hidden; }
	.col-group > div {
		float: left;
		width: 33.3333333%; /*Column WIDTH  :) */
	}
}

#contentLeft , #contentRight { float: left; }

#contentRight  { width: 66%; }
#contentLeft { width:31%; }
#contentFull { }

#contentLeft.border, #contentLeft .inner_content.border,
#contentFull.border, #contentFull .inner_content.border{ border: solid 1px #CCC; }
#contentLeft, #contentFull{ padding: 3px; background-color: #f3f3f3; }
#contentLeft .inner_content, #contentFull .inner_content{ padding: 5px; background-color: #fff;}

#contentLeft .inner_content .vector_list, #contentFull .inner_content .vector_list{ height:146px; overflow:auto; padding-bottom: 0px;}

#contentLeft>.ui-widget>.ui-corner-all, #contentFull>.ui-widget>.ui-corner-all{ margin-bottom: 3px; padding: 0 .7em; }

/*Components*/
#vectorList, #pointList { font-size: 10px; font-style: italic; }

.floatLeft { float:left; }
.floatRight { float:right; }
table.center { margin-left:auto; margin-right:auto; }

.paddingLeft, .paddingLeftPoint{ padding-top: 15px; }
.paddingLeft { padding-left: 200px; }
.paddingLeftPoint{padding-left: 100px;}

.vectorItem { width: 100%; overflow: auto; margin-bottom: 5px; padding-bottom: 4px; }
.aritmeticItem { line-height: 49px; height: 49px; }
.aritmeticItem > span {
	margin-left: 5px;
	display:inline-block;
	
	font-size: 40px;
    vertical-align: middle;
}

.vecInputCol, .vecInputRow{ width: 50px; }
.vecInputCol, .vecInputRow, .vecDropDown{
	height: 23px; border: solid 1px #DDD;
	text-align: center;
}

.vecDropDown { width: 80px; margin-right: 10px; margin:0px 4px 2px 0px; }

.vecInputCol { margin:2px 0px 0px 0px; padding:0px; } /*Why firefox margin padding problems????!!!!*/
.vecInputRow { margin: 0px; padding:0px; } /*Why IE10 margin padding problems????!!!!*/
.vectorValue { padding-left: 5px; }

/*POINT - VECTOR - MATRIX BRACKET*/
table, td, tr {border-collapse: collapse; border-spacing: 0px; border:0px; padding:0px; margin:0px;}
.space{padding-right:5px;}

.leftMV, .rightMV, .leftM4U, .rightM4U, .leftM4D, .rightM4D{ width: 8px; }

.leftMV{ border-top: solid 2px; border-left: solid 2px; border-bottom: solid 2px; border-color:#336699;}
.rightMV{ border-top: solid 2px; border-right: solid 2px; border-bottom: solid 2px;  border-color:#336699;}

.leftM4U{ border-top: solid 2px; border-left: solid 2px; border-color:#336699;}
.rightM4U{ border-top: solid 2px; border-right: solid 2px; border-color:#336699;}
.leftM4D{ border-bottom: solid 2px; border-left: solid 2px; border-color:#336699;}
.rightM4D{ border-bottom: solid 2px; border-right: solid 2px; border-color:#336699;}

.margin3 { margin: 0px 0px 2px 0px; padding:0px }
.marginBetween { margin-right: 3px; }

/*UI Sliders*/
#ui_width_amount, #ui_height_amount, #ui_near_amount, #ui_far_amount,
#ui_left_amount, #ui_right_amount, #ui_top_amount, #ui_bottom_amount,
#ui_aspect_amount, #ui_fov_amount{ margin-left:5px; margin-right:5px; border:1px solid #CCC; width:80px; text-align: center; font-size: 12px; }
#ui_width_slider, #ui_height_slider, #ui_near_slider, #ui_far_slider,
#ui_left_slider, #ui_right_slider, #ui_top_slider, #ui_bottom_slider,
#ui_aspect_slider, #ui_fov_slider{ margin-left: 13px; margin-right: 7px; }

#tabs_config table th strong, #other_settings table th strong{ float:right; width: 50px; text-align: right;}
#tabs_config {  padding:0px; font-family: Verdana; color: #336699; font-size: 11px; }
#tabs_config .ui-tabs-nav{ padding:0px 0px 0px 2px; font-style: normal; }
#tabs_config>.ui-widget-header{ background: none; border-top:0px; border-left: 0px; border-right: 0px; }

#radio_camera.ui-buttonset{
	/*border-bottom:1px solid #ddd;*/
	text-align: right; font-style: normal;
	padding-left:3px;
	margin-top: -1px;
	margin-bottom: 2px;
}
#radio_camera label{ margin-left:2px; }
#radio_camera label.ui-state-active{ border-top-color: #fff; }

.tooltip {
    background-color:#fff;
    border:1px solid #888;
    padding:5px;
    display:none;
    color:#000;
    text-align:left;
    font-size:12px;
	z-index:10;
 
    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #888;
    -webkit-box-shadow:0 0 10px #888;
}
.tooltip .MathJax_SVG_Display{ padding: 0px; margin: 0px; }

.ui-accordion div.ui-accordion-content{ padding: 5px; margin: 0px; font-size: 11px; }

/*MathJax*/

#result{ display: none; visibility: hidden; overflow:hidden; }
.scale{ font-size: 15px; }